#navbar {
    overflow: hidden;
    height: 60px;
    background-color: gold;
    width: 100%;
}

#navbar a {
    float: left;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

#navbar .link {
    padding: 14px;
}

#navbar .user {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    border-left: 1px solid #bbb;
    padding: 14px;
}

#navbar :hover {
    background-color: black;
}
