#foot {
    overflow: hidden;
    height: 60px;
    background-color: #c03000;
    width: 100%;
    color: #f2f2f2;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    display: block;
}