body
{
    background-image: url("/app/img/bg_pattern.jpg");
    background-repeat: repeat;
    background-size: 30%;

}

.chambre
{
    width: 35%;
    height: 300px;
    padding-left: 5%;
    padding-right: 5%;
}

#consodialogue
{
    width: 500px;
    height: 500px;
}
