body {
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover
}
.box {
    width: 800px;
    height: 1000px;
    left: -webkit-calc( 50% - 250px );
    top: 20%;
    position: relative ;
    margin-left:-10%;
    border-radius: 5px;
    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    transition: box-shadow .3s ease;
    background: rgba(255, 255, 255, 0.6);
}
.box:active {
    cursor: move;
    -moz-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
}
.box .content {
    margin: auto;
}

h1, h2, a, p {
    color: white;
    font-weight: 100;
}
.tinted h1, .tinted h2, .tinted a, .tinted p {
    color: black;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
}

h2 {
    font-size: 14px;
}

p {
    margin: 20px;
}
p.related {
    text-transform: uppercase;
    font-weight: 700;
    color: #444;
}
p.related a {
    font-weight: 700;
    text-decoration: none;
}
p.related a:hover {
    text-decoration: underline;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #224c60;
    box-sizing: border-box;
}

button {
    background-color: #5887ff;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancel_btn {
    width: auto;
    padding: 10px 40px;
    background-color: #5887ff;
    color: white;
}

.img_container{
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 90%;
    border-radius: 20%;
}

.container {
    padding: 15px;

}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancel_btn {
        width: 100%;
    }
}





* {
    box-sizing: border-box;
}